/*Eric meyer reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /*custom website */
body{
    width:100%;
    height: 100%;
    background-color:#fff;
    font-family: 'Quicksand', sans-serif;
} 
header {
    width:100%;
    height: 20%;
    background-color: #4D2A4C;
}
.primary-nav {
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 50%;
    
    


}
.primary-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 60px;
    
}
.primary-nav a {
    text-decoration: none;
    color:#FACC6B;
    font-size: 20px;
    letter-spacing: .1em;
     
}
section{
    
    width:100%;
    height: 30%;
    background-color: #89BD9E;
}

.intro {
    padding-left: 30%;
    padding-top:15%;
    padding-bottom: 15%;
    
}
.intro h1{
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    letter-spacing: .1em;
} 
.intro p {
    font-size: 1.5em;
    padding-top: 3%;
    color:#fff;
    letter-spacing: .1em;
    word-spacing: .1em;

}
article{
    width:100%;
    height: 20%;
    margin: 0 auto;

}
.myself p{
    margin-top: 5%;
  letter-spacing: .1em;
  word-spacing: .1em;
  text-align: center;
}
aside button{
    margin-top: 3%;
    margin-left: 40%;
    background-color: #4D2A4C;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border:1px solid white;
}
button a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    letter-spacing: .2em;


}
aside button:hover {
   background-color:#FACC6B;
} 

.primary-footer {
    width:40%;
    height:10%;
    padding-left: 16%;
    padding-top: 5%;
    padding-bottom: 4%;
    
    

}
.primary-footer img  {
    float: right;
    vertical-align: center;
    padding-right: 10%;
     
    
}
