/*Eric meyer reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /*Custom Styles */
body{
    
    
    background-color:#CADBC0;
    font-family: 'Quicksand', sans-serif;
} 
/*grid*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width:960px;
}
.row {
    min-width: 960px;
}
/*Clearfix*/
.group:before,
.group:after{
    content : "";
    display: table;
}
.group:after {
    clear: both;
}
.group:after {
    clear: both;
    *zoom:1;
}
.container{
    padding-left: 30px;
    padding-right: 15px;
}
.primary-logo {
    margin-top: 20px;
    font-size: 44px;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-weight: lighter;
    line-height: 1em;
    color:#2F0A28;

}
.primary-nav a {
    text-decoration: none;
    color:#2F0A28;
    cursor: pointer;
}
.primary-logo h1:hover{
    color:#A27E6F;
}

.nav {
    text-align: right;
}
.nav li{
display: inline-block;
margin: 0 15px;
vertical-align: top;
}
.nav a{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    color:#FAFAFA;
}
.nav li:last-child{
    margin-right: 0;
}
.nav a:hover {
    color:#A27E6F;

}
.intro{
    margin: 50px 0 10px 0;
    text-align: center;
    background-color: #2F0A28;
}
.intro h3 {
    color:#fff;
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: .2em;
    padding-bottom: 15px;
    padding-top: 15px;
}
.intro h5 {
    color:#fff;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: .2em;
    padding-bottom: 30px;
    padding-top: 20px;
}

.btn-contact  {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.btn-contact a {
    text-decoration: none;
    color:black;
    font-size: 24px;
    font-weight: lighter;
    
}
.btn-contact button {
    
    padding: 15px 25px;
    border:1px solid #0E0B0A;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    cursor:pointer;

}
.btn-contact button:hover{
    color:#94524A;
}